body{
    background-image: url('/utils/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 97vh;
    height: 97vh;
}
.home{
    display: grid;
    grid-template-rows: 1fr 12fr 0.7fr;
    width: 95vw;
    height: 95vh;
}

.home-top{
    display: 'inline'; 
    margin-left: 100px;
}

#register{
    margin-left: 30px;
    text-decoration: none
}

.button-home{
    margin-left: 20px;
}

.hora{
    float: right;
    color: white;
}

.home-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center
}
.isologo-horizontal-white {
    width: 364px;
    height: 76px;
  }
.containerInputs {
  display: grid;
  width: 528px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  justify-items: center;
  padding-top: 25px;
  align-items: center;
}
.inputStyle{
  width: 448px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #4dc2f1;
}

